EULA_AGREED={{ EULA_AGREED }}
PRIVACY_POLICY_AGREED={{ PRIVACY_POLICY_AGREED }}
SERVICE_LOCALE={{ SERVICE_LOCALE }}
USE_KSN={{ USE_KSN }}
USE_GUI={{ USE_GUI }}
INSTALL_LICENSE={{ INSTALL_LICENSE }}
ScanMemoryLimit={{ ScanMemoryLimit }}