KLNAGENT_SERVER={{ KLNAGENT_SERVER }}
KLNAGENT_PORT={{ KLNAGENT_PORT }}
KLNAGENT_SSLPORT={{ KLNAGENT_SSLPORT }}
KLNAGENT_USESSL={{ KLNAGENT_USESSL }}
KLNAGENT_GW_MODE={{ KLNAGENT_GW_MODE }}
KLNAGENT_GW_ADDRESS={{ KLNAGENT_GW_ADDRESS }}